.leaflet-container{
    width: 100vw;
    height: 95vh;

}

.custom-file-upload {
    top: -45px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.4);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }


  button{
      background-color: 007bff;
      color: #fff;
      padding: .375rem;
        font-size: 1rem;
        line-height: 1.5;
        border: .25rem;
        cursor: pointer;
  }
  